<!DOCTYPE html>
<html lang="en">
    <%- include('./extends/head.ejs') -%> 
<body>

    <main class="error-container">
        <h1>Battleship</h1>
        <p>
            Room not found. Go <a href="/">back</a> and create a room first.
        </p>
    </main>
    
</body>
</html>