<!DOCTYPE html>
<html lang="en">
    <%- include('./extends/head.ejs') -%> 
<body>
    <main class="game-container">
        <h1>Battleship</h1>

        <section class="main-board">

        </section>

        <section class="side-board">
            
        </section>

    </main>
</body>
    <%- include('./extends/scripts.ejs') -%> 
</html>