<!DOCTYPE html>
<html lang="en">
<%- include('./extends/head.ejs') -%> 
<body>

    <main class="home-container">
        <h1>Battleship</h1>
        <form class="join-container" action="/join-or-create" method="POST">
            <input type="text" name="room-id" placeholder="Enter Room Number">

            <div class="button-container">
                <input type="submit" name="join" value="Join Game" id="join-button">
                <input type="submit" name="create" value="Create Game" id="create-button">
            </div>
        </form>
    </main>

</body>
</html>